.projects {
  padding: 10px;
  margin: 10px;
  overflow-x: hidden;

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
      .project-detail-container {
        margin: 10px;
        padding: 10px 12px;
      }
    }
}
  